<div class = "container">
  <div class = "jumbotron">

<h1>Create a new post!</h1>

<%= form_for @post do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>

    <div>
        <%= f.label :location %>
        <%= f.collection_select(:location_id, Location.all, :id, :campus, prompt: true)  %>
    </div>

    <%= f.submit "Add new post!" %>

<% end %>

<%= link_to "Back to the feed!", posts_path %>
</div>
</div>
